<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>smartdoorlock</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>jdbc</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>

	<servlet>
		<servlet-name>kookmin.cs.capstone2.dbcp.jdbcloader</servlet-name>
		<servlet-class>kookmin.cs.capstone2.dbcp.JOCLLoader</servlet-class>
		<load-on-startup>1</load-on-startup> <!-- JOCLLoader파일을 사용자 요청 없이 실행시키라는 명령 -->
	</servlet>
	<servlet>
		<servlet-name>kookmin.cs.capstone2.user.SignUp</servlet-name>
		<servlet-class>kookmin.cs.capstone2.user.SignUp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>kookmin.cs.capstone2.user.SignUp</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>kookmin.cs.capstone2.user.Login</servlet-name>
		<servlet-class>kookmin.cs.capstone2.user.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>kookmin.cs.capstone2.user.Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>kookmin.cs.capstone2.booking.UsingStatus</servlet-name>
		<servlet-class>kookmin.cs.capstone2.booking.UsingStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>kookmin.cs.capstone2.booking.UsingStatus</servlet-name>
		<url-pattern>/usingstatus</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>kookmin.cs.capstone2.booking.BookingRequest</servlet-name>
		<servlet-class>kookmin.cs.capstone2.booking.BookingRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>kookmin.cs.capstone2.booking.BookingRequest</servlet-name>
		<url-pattern>/bookingrequest</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>kookmin.cs.capstone2.room.RoomStatus</servlet-name>
		<servlet-class>kookmin.cs.capstone2.room.RoomStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>kookmin.cs.capstone2.room.RoomStatus</servlet-name>
		<url-pattern>/roomstatus</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>kookmin.cs.capstone2.room.DoorControl</servlet-name>
		<servlet-class>kookmin.cs.capstone2.room.DoorControl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>kookmin.cs.capstone2.room.DoorControl</servlet-name>
		<url-pattern>/doorcontrol</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>kookmin.cs.capstone2.booking.RequestList</servlet-name>
		<servlet-class>kookmin.cs.capstone2.booking.RequestList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>kookmin.cs.capstone2.booking.RequestList</servlet-name>
		<url-pattern>/requestlist</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>kookmin.cs.capstone2.user.UserList</servlet-name>
		<servlet-class>kookmin.cs.capstone2.user.UserList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>kookmin.cs.capstone2.user.UserList</servlet-name>
		<url-pattern>/userlist</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>kookmin.cs.capstone2.history.RoomHistory</servlet-name>
		<servlet-class>kookmin.cs.capstone2.history.RoomHistory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>kookmin.cs.capstone2.history.RoomHistory</servlet-name>
		<url-pattern>/roomhistory</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>kookmin.cs.capstone2.booking.BookingFilter</servlet-name>
		<servlet-class>kookmin.cs.capstone2.booking.BookingFilter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>kookmin.cs.capstone2.booking.BookingFilter</servlet-name>
		<url-pattern>/bookingfilter</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>kookmin.cs.capstone2.mypage.SmartKey</servlet-name>
		<servlet-class>kookmin.cs.capstone2.mypage.SmartKey</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>kookmin.cs.capstone2.mypage.SmartKey</servlet-name>
		<url-pattern>/smartkey</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>kookmin.cs.capstone2.mypage.MyBookingList</servlet-name>
		<servlet-class>kookmin.cs.capstone2.mypage.MyBookingList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>kookmin.cs.capstone2.mypage.MyBookingList</servlet-name>
		<url-pattern>/mybooking</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>kookmin.cs.capstone2.mypage.CancelMyBooking</servlet-name>
		<servlet-class>kookmin.cs.capstone2.mypage.CancelMyBooking</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>kookmin.cs.capstone2.mypage.CancelMyBooking</servlet-name>
		<url-pattern>/cancelmybooking</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>kookmin.cs.capstone2.booking.BookingSpec</servlet-name>
		<servlet-class>kookmin.cs.capstone2.booking.BookingSpec</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>kookmin.cs.capstone2.booking.BookingSpec</servlet-name>
		<url-pattern>/bookingspec</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>kookmin.cs.capstone2.mypage.SpecificKey</servlet-name>
		<servlet-class>kookmin.cs.capstone2.mypage.SpecificKey</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>kookmin.cs.capstone2.mypage.SpecificKey</servlet-name>
		<url-pattern>/specifickey</url-pattern>
	</servlet-mapping>

</web-app>